/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define HRML(k1,k2,k3,k4) &ht LGUI   k1     &ht LALT  k2    &ht LCTRL k3    &ht LSHIFT k4
#define HRMR(k1,k2,k3,k4) &ht RSHIFT k1     &ht RCTRL k2    &ht RALT  k3    &ht RGUI   k4

/ {
    behaviors {
        thm: tap_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <185>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        layer_hold: layer_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_HOLD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            hold-while-undecided;
            retro-tap;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans   &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                         &kp N6   &kp N7  &kp N8     &kp N9   &kp N0    &trans
&kp TAB  &kp Q   &kp W   &kp E   &kp R   &kp T                          &kp Y    &kp U   &kp I      &kp O    &kp P     &kp BSLH
&kp ESC  &kp A   &kp S   &kp D   &kp F   &kp G                          &kp H    &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&trans   &kp Z   &kp X   &kp C   &kp V   &kp B   &trans      &trans     &kp N    &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                         &trans  &trans  &trans  &kp BSPC    &kp SPACE  &kp RET  &trans  &trans
            >;

            label = "Base";
        };
    };
};
